<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://unlicense.org/favicon.png" />
        <title>Calcular DV de NUP da Administração Pública federal</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./calcula-dv-nup">Calcular DV de NUP da Administração Pública federal</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <p>Esta página calcula os dígitos verificadores (DV com 2 dígitos) dos Números Únicos de Protocolo (NUP) da
                Administração Pública federal de acordo com as regras estabelecidas na
                <a href="https://www.in.gov.br/web/dou/-/portaria-interministerial-n-11-de-25-de-novembro-de-2019-229645093">Portaria
                Interministerial No. 11</a>, de 25 de novembro de 2019.</p>
                <p>&nbsp;</p>
                <p>O NUP é composto por 4 campos: código da unidade, código sequencial, ano e dígitos verificadores.</p>
                <p>O código da unidade tem 5 dígitos, incluindo eventuais zeros à esquerda.</p>
                <p>O código sequencial tem 6 dígitos, incluindo eventuais zeros à esquerda.</p>
                <p>O ano tem 4 dígitos.</p>
                <p>E o DV tem 2 dígitos.</p>
                <p>&nbsp;</p>
                <p>O formato de um NUP é, portanto: 00000.000000/0000-19</p>
                <p>&nbsp;</p>
            </div>

            <div class="row">
                <form action="./calcula-dv-nup" method="POST">
                    <input name="uni" type="number" min="0" max="99999" size="6" value="23422" /> .
                    <input name="seq" type="number" min="0" max="999999" size="7" autofocus /> /
                    <input name="ano" type="number" min="0" max="9999" size="5" value="2023" /> -
                    ??
                    <input type="submit" class="btn btn-success" value="Calcular DV">
                </form>
            </div>

            {% if NUP[3] != '00' %}
                <div class="row">
                    <p>&nbsp;</p>
                    <p>O NUP com DV é {{ NUP[0] }}.{{ NUP[1] }}/{{ NUP[2] }}-{{ NUP[3] }}</p>
                </div>
            {% endif %}

            <div class="row">
                <p>&nbsp;</p>
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>

            <footer class="text-center text-lg-start">
                <a href="https://unlicense.org/"><img src="./static/images/no-copyright-196p.png" alt="Say No to Copyright" title="Say No to Copyright" width="50p" height="50p" /></a>
                <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.pt_BR">Nenhum direito reservado</a>.
                <p> Autor: Marcelo Cezar Pinto (<a href="https://portal.unila.edu.br/">UNILA</a>)</p>
                <p>Códigos fonte disponíveis no <a href="https://github.com/mcpinto/calcular-dv-nup-gov-br">GitHub</a></p>
            </footer>

        </div><!-- /.container -->
    </body>
</html>